<!DOCTYPE html>
<html>
	
<!-- Mirrored from ashobiz.dreamhosters.com/wrapbootstrap/barnie175/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 May 2017 01:03:07 GMT -->
<head>
		<!-- Title here -->
		<title>Login Page - Barnie</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="{{asset('bundles/evaclient/login/css/bootstrap.min.css')}}" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="{{asset('bundles/evaclient/login/css/font-awesome.min.css')}}" rel="stylesheet">	
		<!-- Custom Color CSS -->
		<link href="{{asset('bundles/evaclient/login/css/less-style.css')}}" rel="stylesheet">	
		<!-- Custom CSS -->
		<link href="{{asset('bundles/evaclient/login/css/style.css')}}" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
	</head>
	
	<body>

		<div class="outer-page">
			
			 <!-- Login page -->
			 <div class="login-page">

					<!-- Nav tabs -->
					<ul class="nav nav-tabs nav-justified">
					  <li class="active"><a href="#login" data-toggle="tab" class="br-lblue"><i class="fa fa-sign-in"></i> Sign In</a></li>
					  <li><a href="#register" data-toggle="tab" class="br-lblue"><i class="fa fa-pencil"></i> Sign Up</a></li>
					  
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
					  <div class="tab-pane fade active in" id="login">
					  
						<!-- Login form -->
						
						<form role="form" action="http://ashobiz.dreamhosters.com/wrapbootstrap/barnie175/index.html">
						  <div class="form-group">
							<label for="email">Email</label>
							<input type="text" class="form-control" id="email" placeholder="Email">
						  </div>
						  <div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Password">
						  </div>
						  <div class="checkbox">
							<label>
							  <input type="checkbox"> Remember Me Next Time
							</label>
						  </div>
						  <button type="submit" class="btn btn-info btn-sm">Submit</button>
						  <button type="reset" class="btn btn-default btn-sm">Reset</button>
						</form>
						
					  </div>
					  
					  
					  <div class="tab-pane fade" id="register">
						<!-- Register form -->
					  
						<div class="alert alert-info">Just <strong>Click "Submit"</strong> to visit the Dashboard</div>
						
						<form role="form" action="http://ashobiz.dreamhosters.com/wrapbootstrap/barnie175/index.html">
						  <div class="form-group">
							<label for="name">Full Name</label>
							<input type="text" class="form-control" id="name" placeholder="Full Name">
						  </div>
						  <div class="form-group">
							<label for="email">Email</label>
							<input type="text" class="form-control" id="email" placeholder="Email">
						  </div>
						  <div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Password">
						  </div>
						  <div class="form-group">
							<label for="cpassword">Confirm Password</label>
							<input type="cpassword" class="form-control" id="cpassword" placeholder="Confirm Password">
						  </div>
						  <div class="checkbox">
							<label>
							  <input type="checkbox"> Agree <a href="#">Terms & Conditions</a>
							</label>
						  </div>
						  <button type="submit" class="btn btn-info btn-sm">Submit</button>
						  <button type="reset" class="btn btn-default btn-sm">Reset</button>
						</form>
					  
					  </div>
					  
					  
					
					</div>
					
			 </div>	
			
		</div>
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="{{asset('bundles/evaclient/login/js/jquery.js')}}"></script>
		<!-- Bootstrap JS -->
		<script src="{{asset('bundles/evaclient/login/js/bootstrap.min.js')}}"></script>
		<!-- Respond JS for IE8 -->
		<script src="{{asset('bundles/evaclient/login/js/respond.min.js')}}"></script>
		<!-- HTML5 Support for IE -->
		<script src="{{asset('bundles/evaclient/login/js/html5shiv.js')}}"></script>
		
		
		
	</body>	

<!-- Mirrored from ashobiz.dreamhosters.com/wrapbootstrap/barnie175/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 May 2017 01:03:07 GMT -->
</html>
