{% extends '::base.html.twig' %}

{% block body -%}
    <div class="modal-dialog">
        <div class="modal-content widget tasks-widget">
            <div class="modal-header widget-head br-lblue">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Detail Sous-Catégories</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <Label class="col-lg-12">Id</Label>
                        <input class="col-lg-12" disabled="true"  value="{{ entity.id }}"/>
                        <Label class="col-lg-12">Nom</Label>
                        <input class="col-lg-12" disabled="true"  value="{{ entity.name }}"/>
                        <Label class="col-lg-12">Image</Label>
                        <input class="col-lg-12" disabled="true"  value="{{ entity.image }}"/>
                        <img class="img-responsive img-wrap center-block" src="{{app.request.basepath}}/uploads/subCategory/{{entity.image}}" style="width: 100px; height:100px"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" aria-hidden="true">Fermer</button>
            </div>
        </div>
    </div>
{% endblock %}